Load all the csvs into dataframs and analyse.

In [50]:

import pandas as pd
from matchday_demand_forecasting.config import RAW_DATA_DIR, RANDOM_SEED

pd.set_option('display.max_columns', None)

files = ['ORDER_DETAILS.xlsx', 'ORDER_HEADER.xlsx', 'PAYMENT_METHODS.xlsx', 'PRODUCTS.xlsx']
data_paths = [RAW_DATA_DIR / file for file in files]

df_1 = pd.read_excel(data_paths[0])
df_2 = pd.read_excel(data_paths[1])
df_3 = pd.read_excel(data_paths[2])
df_4 = pd.read_excel(data_paths[3])

/opt/anaconda3/envs/matchday_demand_forecasting/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/envs/matchday_demand_forecasting/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/envs/matchday_demand_forecasting/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/envs/matchday_demand_forecasting/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [59]:
print(df_1.shape)
df_1.head(15)

# df_1_1 = df_1[['ITEM_DESCRIPTION', 'ORDER_HEADER_ID']]
# df_1_1.head(20)

(32097, 37)

,ORDER_ID,UNIQUE_ID,PARENT_ID,ORDER_HEADER_ID,ITEM_DESCRIPTION,SECOND_DESC,QTY,QTY_STRING,PRICE,SUB_TOTAL_D,SUB_TOTAL,NETT_VALUE,DISC_VALUE,VAT_VALUE,ITEM_TYPE,PRODUCT_ID,CATEGORY_ID,CATEGORY_ORDER,IS_SPECIAL_OFFER,EATIN_ORDER_GROUP,PRINT_LABEL,DISC_REASON,NUMBEROFITEM,PAID,COMPLETED,PRINTER_NO,USER_ID,REPORT_SECTION_ID,REPORT_SECTION,FOOD_DRINK,SERVICE_CHARGE,VAT_SETTINGS,EXCOFFERTOTAL,PRODUCT_OPTION_ID,RECIPE_DESC,EDIT_STATUS,SPECIAL_PRINT
0,1,7,-1,1,6 TENDERS COMBO,NaN,1,1.0,"8,5",8.50,"8,5","8,5",0,0,2,289,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,"8,5",0,NaN,0,0
1,2,8,7,1,DIPPED,NaN,0,NaN,0,0.00,0,0,0,0,4,255,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,0,0,NaN,0,0
2,3,9,7,1,MASH'S ORIGINAL,NaN,0,NaN,0,0.00,0,0,0,0,4,261,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,0,0,NaN,0,0
3,4,10,7,1,WITH\r\nPEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,0,0,NaN,0,0
4,5,11,7,1,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,0,0,NaN,0,0
5,6,12,-1,1,6 TENDERS COMBO,NaN,1,1.0,"8,5",8.50,"8,5","8,5",0,0,2,289,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,"8,5",0,NaN,0,0
6,7,13,12,1,DIPPED,NaN,0,NaN,0,0.00,0,0,0,0,4,255,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,0,0,NaN,0,0
7,8,14,12,1,MASH'S ORIGINAL,NaN,0,NaN,0,0.00,0,0,0,0,4,261,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,0,0,NaN,0,0
8,9,15,12,1,WITH\r\nPEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,0,0,NaN,0,0
9,10,16,12,1,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,6,1,0,0,0,NaN,1,1,0,0,1,0,NaN,0,0,0,0,0,NaN,0,0
10,11,11,-1,2,STINGER BURGER COMBO,NaN,1,1.0,"6,49",6.49,"6,49","6,49",0,0,2,329,10,6,0,0,0,NaN,1,1,0,0,13,0,NaN,0,0,0,"6,49",0,NaN,0,0
11,12,12,-1,2,3 TENDERS,NaN,1,1.0,"3,99",3.99,"3,99","3,99",0,0,2,98,6,1,0,0,0,NaN,1,1,0,0,13,0,NaN,0,0,0,"3,99",0,NaN,0,0
12,13,13,12,2,DIPPED,NaN,0,NaN,0,0.00,0,0,0,0,4,255,6,1,0,0,0,NaN,1,1,0,0,13,0,NaN,0,0,0,0,0,NaN,0,0
13,14,14,12,2,PLAIN NO GOGO,NaN,0,NaN,0,0.00,0,0,0,0,4,278,6,1,0,0,0,NaN,1,1,0,0,13,0,NaN,0,0,0,0,0,NaN,0,0
14,15,1,-1,3,STINGER SUPREME COMBO,NaN,1,1.0,"6,99",6.99,"6,99","6,99",0,0,2,339,10,6,0,0,0,NaN,1,1,0,0,13,0,NaN,0,0,0,"6,99",0,NaN,0,0

In [46]:
df_1[df_1['PAID'] == 0]

,ORDER_ID,UNIQUE_ID,PARENT_ID,ORDER_HEADER_ID,ITEM_DESCRIPTION,SECOND_DESC,QTY,QTY_STRING,PRICE,SUB_TOTAL_D,SUB_TOTAL,NETT_VALUE,DISC_VALUE,VAT_VALUE,ITEM_TYPE,PRODUCT_ID,CATEGORY_ID,CATEGORY_ORDER,IS_SPECIAL_OFFER,EATIN_ORDER_GROUP,PRINT_LABEL,DISC_REASON,NUMBEROFITEM,PAID,COMPLETED,PRINTER_NO,USER_ID,REPORT_SECTION_ID,REPORT_SECTION,FOOD_DRINK,SERVICE_CHARGE,VAT_SETTINGS,EXCOFFERTOTAL,PRODUCT_OPTION_ID,RECIPE_DESC,EDIT_STATUS,SPECIAL_PRINT
862,889,1,-1,235,PERI FILLET BURGER COMBO,NaN,1,1.0,"6,49",6.49,"6,49","6,49",0,0,2,330,10,6,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"6,49",0,NaN,0,0
863,890,2,1,235,WITH\r\nPEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,10,6,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
864,891,3,1,235,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,10,6,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
865,892,4,1,235,+ Cheese,NaN,0,NaN,"0,5",0.50,"0,5","0,5",0,0,5,3,10,6,0,0,0,NaN,0,0,0,0,-1,0,NaN,0,0,0,"0,5",0,NaN,0,0
866,893,5,1,235,NO LETTUCE,NaN,0,NaN,0,0.00,0,0,0,0,5,21,10,6,0,0,0,NaN,0,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
867,894,6,-1,235,PERI WRAP COMBO,NaN,1,1.0,"6,49",6.49,"6,49","6,49",0,0,2,314,17,14,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"6,49",0,NaN,0,0
868,895,7,6,235,WITH\r\nPEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,17,14,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
869,896,8,6,235,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,17,14,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
1930,1962,1,-1,584,26 SEP 15L,NaN,1,1.0,25,25.00,25,25,0,0,2,190,14,12,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,25,0,NaN,1,0
1931,1960,3,-1,583,22 SEP 10L,NaN,1,1.0,20,20.00,20,20,0,0,2,190,14,12,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,20,0,NaN,1,0
1932,1961,4,-1,583,29 SEP 10L,NaN,1,1.0,20,20.00,20,20,0,0,2,190,14,12,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,20,0,NaN,1,0
1933,1963,2,-1,584,27 SEP 10L,NaN,1,1.0,20,20.00,20,20,0,0,2,190,14,12,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,20,0,NaN,1,0
1934,1964,3,-1,584,29 SEP 10L,NaN,1,1.0,20,20.00,20,20,0,0,2,190,14,12,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,20,0,NaN,1,0
2277,2309,1,-1,727,22 SEP 10LTS,NaN,1,1.0,0,0.00,0,0,0,0,2,190,14,12,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,1,0
7975,8162,1,-1,2342,12 WINGS COMBO,NaN,1,1.0,"10,99",10.99,"10,99","10,99",0,0,2,283,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"10,99",0,NaN,0,0
7976,8163,2,1,2342,WITH FRIES,NaN,0,NaN,0,0.00,0,0,0,0,4,303,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7977,8164,3,1,2342,DIPPED,NaN,0,NaN,0,0.00,0,0,0,0,4,255,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7978,8165,4,1,2342,WILD WILD HERB,NaN,0,NaN,0,0.00,0,0,0,0,4,260,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7979,8166,5,1,2342,WITH\r\nPEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7980,8167,6,1,2342,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7981,8168,7,-1,2342,12 WINGS COMBO,NaN,1,1.0,"10,99",10.99,"10,99","10,99",0,0,2,283,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"10,99",0,NaN,0,0
7982,8169,8,7,2342,WITH FRIES,NaN,0,NaN,0,0.00,0,0,0,0,4,303,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7983,8170,9,7,2342,DIPPED,NaN,0,NaN,0,0.00,0,0,0,0,4,255,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7984,8171,10,7,2342,MASH'S ORIGINAL,NaN,0,NaN,0,0.00,0,0,0,0,4,261,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7985,8172,11,7,2342,WITH\r\nPEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7986,8173,12,7,2342,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,7,2,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7987,8174,13,-1,2342,6 TENDERS,NaN,1,1.0,"6,49",6.49,"6,49","6,49",0,0,2,94,6,1,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"6,49",0,NaN,0,0
7988,8175,14,13,2342,DIPPED,NaN,0,NaN,0,0.00,0,0,0,0,4,255,6,1,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7989,8176,15,13,2342,WILD WILD HERB,NaN,0,NaN,0,0.00,0,0,0,0,4,260,6,1,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7990,8177,16,-1,2342,EL BANDITO BURGER,NaN,1,1.0,"5,99",5.99,"5,99","5,99",0,0,2,247,18,13,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"5,99",0,NaN,0,0
7991,8178,17,-1,2342,DIPS,NaN,1,1.0,"0,3",0.30,"0,3","0,3",0,0,2,125,9,5,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"0,3",0,NaN,0,0
7992,8179,18,17,2342,TUB OF WILD WILD HERB,NaN,0,NaN,0,0.00,0,0,0,0,4,260,9,5,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
7993,8180,19,-1,2342,DIPS,NaN,1,1.0,"0,3",0.30,"0,3","0,3",0,0,2,125,9,5,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"0,3",0,NaN,0,0
8017,8181,20,19,2342,TUB OF TERIYAKI,NaN,0,NaN,0,0.00,0,0,0,0,4,275,9,5,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
21716,21939,4,-1,6685,1/2 BIRD COMBO,NaN,1,1.0,"8,49",8.49,"8,49","8,49",0,0,2,297,8,3,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"8,49",0,NaN,0,0
21717,21940,5,4,6685,WITH FRIES,NaN,0,NaN,0,0.00,0,0,0,0,4,303,8,3,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
21718,21941,6,4,6685,BLAZIN HOT,NaN,0,NaN,0,0.00,0,0,0,0,4,259,8,3,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
22168,22392,1,-1,6848,FILLET BURGER COMBO,NaN,1,1.0,"5,99",5.99,"5,99","5,99",0,0,2,445,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"5,99",0,NaN,0,0
22169,22393,2,1,6848,PEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
22170,22394,3,1,6848,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
22171,22395,4,-1,6848,FILLET BURGER COMBO,NaN,1,1.0,"5,99",5.99,"5,99","5,99",0,0,2,445,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"5,99",0,NaN,0,0
22172,22396,5,4,6848,PEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
22173,22397,6,4,6848,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
22174,22398,7,-1,6848,FILLET BURGER COMBO,NaN,1,1.0,"5,99",5.99,"5,99","5,99",0,0,2,445,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"5,99",0,NaN,0,0
22175,22399,8,7,6848,PEPSI,NaN,0,NaN,0,0.00,0,0,0,0,4,191,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
22176,22400,9,7,6848,SUPER CHARGE\r\nNo,NaN,0,NaN,0,0.00,0,0,0,0,4,448,10,4,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
31102,31525,1,-1,9922,1/2 BIRD COMBO,NaN,1,1.0,"8,49",8.49,"8,49","8,49",0,0,2,297,8,3,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"8,49",0,NaN,0,0
31103,31526,2,1,9922,WITH FRIES,NaN,0,NaN,0,0.00,0,0,0,0,4,303,8,3,0,0,0,NaN,0,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
31104,31527,3,1,9922,JAMACIAN JERK,NaN,0,NaN,0,0.00,0,0,0,0,4,273,8,3,0,0,0,NaN,0,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
31105,31528,4,-1,9922,1/2 BIRD COMBO,NaN,1,1.0,"8,49",8.49,"8,49","8,49",0,0,2,297,8,3,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"8,49",0,NaN,0,0
31106,31529,5,4,9922,WITH FRIES,NaN,0,NaN,0,0.00,0,0,0,0,4,303,8,3,0,0,0,NaN,0,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
31107,31530,6,4,9922,MASH'S ORIGINAL,NaN,0,NaN,0,0.00,0,0,0,0,4,261,8,3,0,0,0,NaN,0,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
31108,31531,7,-1,9922,1/2 BIRD COMBO,NaN,1,1.0,"8,49",8.49,"8,49","8,49",0,0,2,297,8,3,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"8,49",0,NaN,0,0
31109,31532,8,7,9922,WITH FRIES,NaN,0,NaN,0,0.00,0,0,0,0,4,303,8,3,0,0,0,NaN,0,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
31110,31533,9,7,9922,MASH'S ORIGINAL,NaN,0,NaN,0,0.00,0,0,0,0,4,261,8,3,0,0,0,NaN,0,0,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
31111,31534,10,-1,9922,THE OUTLAW BURGER COMBO,NaN,1,1.0,"10,99",10.99,"10,99","10,99",0,0,2,362,18,5,0,0,0,NaN,1,0,0,0,-1,0,NaN,0,0,0,"10,99",0,NaN,1,0

In [57]:
# df_1[df_1['PRICE'] != df_1['SUB_TOTAL']]
df_1[df_1['NETT_VALUE'] != df_1['SUB_TOTAL']]

,ORDER_ID,UNIQUE_ID,PARENT_ID,ORDER_HEADER_ID,ITEM_DESCRIPTION,SECOND_DESC,QTY,QTY_STRING,PRICE,SUB_TOTAL_D,SUB_TOTAL,NETT_VALUE,DISC_VALUE,VAT_VALUE,ITEM_TYPE,PRODUCT_ID,CATEGORY_ID,CATEGORY_ORDER,IS_SPECIAL_OFFER,EATIN_ORDER_GROUP,PRINT_LABEL,DISC_REASON,NUMBEROFITEM,PAID,COMPLETED,PRINTER_NO,USER_ID,REPORT_SECTION_ID,REPORT_SECTION,FOOD_DRINK,SERVICE_CHARGE,VAT_SETTINGS,EXCOFFERTOTAL,PRODUCT_OPTION_ID,RECIPE_DESC,EDIT_STATUS,SPECIAL_PRINT
16868,17064,16,-1,4958,25% TEST CARD,NaN,0,NaN,0,-9.87,"-9,86",0,"9,86",0,11,0,0,1001,0,1,0,TEST CARD,0,1,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
18434,18634,5,-1,5519,25% Discount,NaN,0,NaN,0,-8.37,"-8,36",0,"8,36",0,11,0,0,1001,0,0,0,NaN,0,1,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
18436,18636,2,-1,5520,25% Discount,NaN,0,NaN,0,-1.12,"-1,12",0,"1,12",0,11,0,0,1001,0,0,0,NaN,0,1,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
23872,24125,7,-1,7418,20% Special Offer,NaN,0,NaN,0,-4.20,"-4,19",0,"4,19",0,11,0,0,1001,0,0,0,Special Offer,0,1,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
25226,25484,6,-1,7915,20% Discount,NaN,0,NaN,0,-3.00,"-2,99",0,"2,99",0,11,0,0,1001,0,0,0,NaN,0,1,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0
27391,27731,2,-1,8677,25% Discount,NaN,0,NaN,0,-1.62,"-1,62",0,"1,62",0,11,0,0,1001,0,0,0,NaN,0,1,0,0,-1,0,NaN,0,0,0,0,0,NaN,0,0

Filter table 1

In [68]:
df_1_filtered = df_1[['ORDER_HEADER_ID', 'ITEM_DESCRIPTION', 'QTY', 'SUB_TOTAL', 'PAID']]
df_1_filtered.head(15)

    ORDER_HEADER_ID       ITEM_DESCRIPTION  QTY SUB_TOTAL  PAID
0                 1        6 TENDERS COMBO    1       8,5     1
1                 1                 DIPPED    0         0     1
2                 1        MASH'S ORIGINAL    0         0     1
3                 1          WITH\r\nPEPSI    0         0     1
4                 1     SUPER CHARGE\r\nNo    0         0     1
5                 1        6 TENDERS COMBO    1       8,5     1
6                 1                 DIPPED    0         0     1
7                 1        MASH'S ORIGINAL    0         0     1
8                 1          WITH\r\nPEPSI    0         0     1
9                 1     SUPER CHARGE\r\nNo    0         0     1
10                2   STINGER BURGER COMBO    1      6,49     1
11                2              3 TENDERS    1      3,99     1
12                2                 DIPPED    0         0     1
13                2          PLAIN NO GOGO    0         0     1
14                3  STINGER SUPREME COMBO    1      6,99     1

consolidate the rows by ODER_HEADER_ID

In [64]:
agg_funcs = {
    'ITEM_DESCRIPTION': lambda x: ', '.join(x.dropna()),
    'QTY': 'sum',
    'SUB_TOTAL': 'sum',
    'PAID': 'first'
}

df_1_consolidated = df_1_filtered.groupby('ORDER_HEADER_ID').agg(agg_funcs).reset_index()
print(df_1_consolidated.shape)
df_1_consolidated.head()

(10255, 5)

,ORDER_HEADER_ID,ITEM_DESCRIPTION,QTY,SUB_TOTAL,PAID
0,1,"6 TENDERS COMBO, DIPPED, MASH'S ORIGINAL, WITH...",2,"8,500008,50000",1
1,2,"STINGER BURGER COMBO, 3 TENDERS, DIPPED, PLAIN...",2,"6,493,9900",1
2,3,STINGER SUPREME COMBO,1,"6,99",1
3,4,BUNSTRIPPER COMBO,1,"5,49",1
4,5,"6 TENDERS COMBO, DIPPED, MASH'S ORIGINAL, 6 WI...",3,"8,49004,99004,9900",1

SUBTOTAL string and seperated by commas so first need to replace commas with point and then turn to numeric.

In [69]:
df_1_filtered['SUB_TOTAL'] = df_1_filtered['SUB_TOTAL'].str.replace(',', '.', regex=True).astype(float)
df_1_filtered.head()

/var/folders/4c/4g9w277n1wb0ssy88bqbt6680000gn/T/ipykernel_12707/2969580395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_filtered['SUB_TOTAL'] = df_1_filtered['SUB_TOTAL'].str.replace(',', '.', regex=True).astype(float)

   ORDER_HEADER_ID    ITEM_DESCRIPTION  QTY  SUB_TOTAL  PAID
0                1     6 TENDERS COMBO    1        8.5     1
1                1              DIPPED    0        0.0     1
2                1     MASH'S ORIGINAL    0        0.0     1
3                1       WITH\r\nPEPSI    0        0.0     1
4                1  SUPER CHARGE\r\nNo    0        0.0     1

Now the consolidation should work perfectly

In [84]:
agg_funcs = {
    'ITEM_DESCRIPTION': lambda x: ', '.join(x.dropna()),
    'QTY': 'sum',
    'SUB_TOTAL': 'sum',
    'PAID': 'first'
}

df_1_consolidated = df_1_filtered.groupby('ORDER_HEADER_ID').agg(agg_funcs).reset_index()
print(df_1_consolidated.shape)
df_1_consolidated.head(20)

(10255, 5)

,ORDER_HEADER_ID,ITEM_DESCRIPTION,QTY,SUB_TOTAL,PAID
0,1,"6 TENDERS COMBO, DIPPED, MASH'S ORIGINAL, WITH...",2,17.00,1
1,2,"STINGER BURGER COMBO, 3 TENDERS, DIPPED, PLAIN...",2,10.48,1
2,3,STINGER SUPREME COMBO,1,6.99,1
3,4,BUNSTRIPPER COMBO,1,5.49,1
4,5,"6 TENDERS COMBO, DIPPED, MASH'S ORIGINAL, 6 WI...",3,18.47,1
5,6,"3 TENDERS COMBO, DIPPED, HONEY BARBEQUE\r\nTUB",1,5.99,1
6,7,"PERI FILLET BURGER COMBO, 6 TENDERS COMBO, DIP...",2,14.98,1
7,8,STINGER BURGER COMBO,1,6.49,1
8,9,"6 TENDERS COMBO, DIPPED, ASIAN ZING",1,8.49,1
9,10,"3 TENDERS, DIPPED, HONEY BARBEQUE",1,3.99,1
10,11,"6 TENDERS COMBO, DIPPED, COOL GARLIC, STINGER ...",2,14.98,1
11,12,"PERI FILLET BURGER COMBO, + JUST PERI, Reg FRIES",2,8.48,1
12,13,"18 TENDERS, SIDE, BLAZIN HOT\r\nCG \r\nTUBS",1,17.99,1
13,14,"6 TENDERS COMBO, DIPPEDMAYO TUB",1,8.49,1
14,15,PERI FILLET BURGER,1,4.49,1
15,16,"THE OUTLAW BURGER COMBO, 7UP",2,9.19,1
16,17,3 TENDERS COMBO,1,0.01,1
17,18,7UP,1,0.01,1
18,19,"1/2 BIRD COMBO, WITH FRIES, DIPPED, MASH'S ORI...",1,8.49,1
19,20,"12 WINGS COMBO, WITH FRIES, DIPPED, MASH'S ORI...",3,12.69,1

In [83]:
df_2_Total = df_2['TOTAL'].str.replace(',', '.', regex=True).astype(float)

mismatched_row = df_1_consolidated['SUB_TOTAL'] != df_2_Total
pd.concat([df_1_consolidated[mismatched_row], df_2_Total[mismatched_row]], axis=1)

,ORDER_HEADER_ID,ITEM_DESCRIPTION,QTY,SUB_TOTAL,PAID,TOTAL
19,20,"12 WINGS COMBO, WITH FRIES, DIPPED, MASH'S ORI...",3,12.69,1,15.48
20,21,"1/2 BIRD COMBO, WITH FRIES, DIPPED, MASH'S ORI...",2,15.48,1,12.69
121,122,"STINGER SUPREME COMBO, 6 TENDERS COMBO, DIPPED...",3,23.97,1,23.97
162,163,"STINGER BURGER COMBO, SMOKE HOUSE GRILLED COMB...",5,24.45,1,24.45
189,190,"6 WINGS, DIPPED, MASH'S ORIGINAL, PERI WRAP CO...",5,30.95,1,30.95
...,...,...,...,...,...,...
9648,9649,"QUAD SQUAD, MASH'S ORIGINAL",1,5.99,1,12.98
9650,9651,"EL BANDITO BURGER COMBO, WITH\r\nPEPSI, SUPER ...",2,10.98,1,5.99
9759,9760,"1/2 BIRD COMBO, WITH FRIES, COOL GARLIC, WITH\...",5,31.45,1,31.45
9823,9824,"QUAD SQUAD, COOL GARLIC, FLAT BREAD, FLAT BREAD",3,7.97,1,7.97
10013,10014,"6 WINGS, MASH'S ORIGINAL, DOUBLE SMASH BURGER ...",5,29.45,1,29.45

In [90]:
print(df_2.shape)
df_2.head(10)
# df_2.tail()

(10255, 47)

,ORDER_ID,CUSTOMER_ID,ORDER_DATE,TOTAL,DRIVER_ID,ORDER_TYPE,ORDER_COMPLETED,MONEY_TAKEN,ORDER_NO,CHANGE_BACK,ORDER_CANCELED,ADDRESS_ID,USER_ID,TABLE_ID,PAID,EATIN_ORDER_GROUP,ORDER_FINISH_TIME,ORDER_DURATION,FUTURE_ORDER,CANCELED_REASON,CUSTOMER_NAME,CUST_TELEPHONE,ORDER_EDITED,EDITED_VALUE,PAYMENT_METHOD,SURCHARGE,DELIVERY_CHARGE,NETT_VALUE,DISC_VALUE,DISC_REASON,SHIFT_NO,KITCHEN_DONE,EDITED_MSG,TRANS_TYPE,WS_ID,SERVICE_CHARGE,NUMBER_GUESTS,VAT_VALUE,ONLINE_ORDER_ID,PORTAL,POINTS_AWARDED,POINTS_BALANCE,PAYMENT_TYPE_ID,TELEPHONE_ID,SHOP_ID,ADD_TO_ORDER_TIME,ONLINE_ORDER_NO
0,1,0,12.04.2023 19:29:25,17,0,COLLECTION,0,20,1,3,0,0,1,0,1,0,NaN,,,NaN,NaN,,0,0,CREDIT CARD,0,0,17,0,NaN,0,0,NaN,2,3,0,0,0,0,DeskTop,0,0,3,0,1,19:29:25,0
1,2,0,13.04.2023 22:09:17,"10,48",0,TAKEAWAY,0,"10,48",1,0,0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CREDIT CARD,0,0,"10,48",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,3,0,1,22:09:17,0
2,3,0,13.04.2023 22:09:59,"6,99",0,TAKEAWAY,0,20,2,"13,01",0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CASH,0,0,"6,99",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,2,0,1,22:09:59,0
3,4,0,13.04.2023 22:10:54,"5,49",0,TAKEAWAY,0,"5,49",3,0,0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CREDIT CARD,0,0,"5,49",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,3,0,1,22:10:54,0
4,5,0,13.04.2023 22:13:04,"18,47",0,TAKEAWAY,0,"18,47",4,0,0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CREDIT CARD,0,0,"18,47",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,3,0,1,22:13:04,0
5,6,0,13.04.2023 22:14:55,"5,99",0,TAKEAWAY,0,"5,99",5,0,0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CREDIT CARD,0,0,"5,99",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,3,0,1,22:14:55,0
6,7,0,13.04.2023 22:16:20,"14,98",0,TAKEAWAY,0,"14,98",6,0,0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CREDIT CARD,0,0,"14,98",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,3,0,1,22:16:20,0
7,8,0,13.04.2023 22:22:06,"6,49",0,TAKEAWAY,0,"6,49",7,0,0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CREDIT CARD,0,0,"6,49",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,3,0,1,22:22:06,0
8,9,0,13.04.2023 22:23:15,"8,49",0,TAKEAWAY,0,20,8,"11,51",0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CASH,0,0,"8,49",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,2,0,1,22:23:15,0
9,10,0,13.04.2023 22:23:50,"3,99",0,TAKEAWAY,0,"3,99",9,0,0,0,13,0,1,0,NaN,,,NaN,NaN,,0,0,CREDIT CARD,0,0,"3,99",0,NaN,0,0,NaN,3,3,0,0,0,0,DeskTop,0,0,3,0,1,22:23:50,0

Filter ORDER HEADER table for only the relevant columns.

In [ ]:
df_2_filtered = df_2[['ORDER_DATE', 'PAYMENT_METHOD']]
df_2_filtered.head()

In [8]:
print(df_3.shape)
df_3.head()

(10256, 5)

   PAY_METHOD_ID  ORDER_ID PAYMENT_TYPE PAY_AMOUNT  PAY_ID
0              1         1  CREDIT CARD         17       3
1              2         2  CREDIT CARD      10,48       3
2              3         3         CASH       6,99       2
3              4         4  CREDIT CARD       5,49       3
4              5         5  CREDIT CARD      18,47       3

In [23]:
print(df_4.shape)
df_4.tail()

(314, 28)

,PRODUCT_ID,POSITION_ID,PRODUCT_NAME,BUTTON_FONT_SIZE,BUTTON_COLOUR,BUTTON_FONT_COLOUR,CATEGORY_ID,MAIN_PRICE,COLLECTION_PRICE,EATIN_PRICE,IMAGE_FILE_NAME,PRINT_LABEL,LARGE_DESC,SECOND_DESC,ITEM_NUMBER,NUMBER_OF_ITEMS,PRINTER_NO,IS_SPECIAL_OFFER,NUM_FREE_ITEMS,REPORT_SECTION,FOOD_DRINK,VAT_SETTINGS,BARCODE,IGNORE_CATEGORY_SUBMENUS,IGNORE_DESC_PASS_PRICE,LINK_TO_PARENT,IMAGE_POSITION,RECIPE_DESC
309,348,22,JALAPENOS,25,14204888,0,20,0,0,0,...,0,NaN,NaN,NaN,1,0,0,1,0,0,0,NaN,0,0,0.0,0.0,NaN
310,349,23,SALSA,25,7504122,0,20,0,0,0,...,0,NaN,NaN,NaN,1,0,0,1,0,0,0,NaN,0,0,0.0,0.0,NaN
311,350,24,TURKEY RASHERS,25,1262987,0,20,0,0,0,...,0,NaN,NaN,NaN,1,0,0,1,0,0,0,NaN,0,0,0.0,0.0,NaN
312,353,25,HOT HONEY MUSTARD,25,55295,0,20,0,0,0,...,0,NaN,NaN,NaN,1,0,0,1,0,0,0,NaN,0,0,0.0,0.0,NaN
313,354,26,PIRI PIRI SAUCE,25,7504122,0,20,0,0,0,...,0,NaN,NaN,NaN,1,0,0,1,0,0,0,NaN,0,0,0.0,0.0,NaN

In [88]:
df_4[df_4['PRODUCT_ID'] == 249]

,PRODUCT_ID,POSITION_ID,PRODUCT_NAME,BUTTON_FONT_SIZE,BUTTON_COLOUR,BUTTON_FONT_COLOUR,CATEGORY_ID,MAIN_PRICE,COLLECTION_PRICE,EATIN_PRICE,IMAGE_FILE_NAME,PRINT_LABEL,LARGE_DESC,SECOND_DESC,ITEM_NUMBER,NUMBER_OF_ITEMS,PRINTER_NO,IS_SPECIAL_OFFER,NUM_FREE_ITEMS,REPORT_SECTION,FOOD_DRINK,VAT_SETTINGS,BARCODE,IGNORE_CATEGORY_SUBMENUS,IGNORE_DESC_PASS_PRICE,LINK_TO_PARENT,IMAGE_POSITION,RECIPE_DESC
198,249,7,+NACHO CHEESE,14,9109643,16775408,18,"1,5",0,0,...,0,NaN,NaN,NaN,0,0,0,0,0,0,0,NaN,1,0,0.0,0.0,NaN